<!-- <div id="starred_containers"> -->
<%= render 'containers/starred_container' %>
<!-- </div> -->
<!-- <div id="unstarred_containers"> -->
<%= render @containers %>
<!-- </div> -->
<%= will_paginate @containers %>

