<% if (@user != current_user) && (@user.public_status != true) %>
  <h3>You do not have access to this page.</h2>
  <%= link_to 'Home', user_path(current_user) %>
<% else %>
  <%= render 'users/layouts/usersnav' %>
  <div class="users-show">
    <% if @user == current_user %>
      <div class="col-sm-3 col-md-3 col-lg-3" id="custom-well-left">
        <%= render 'users/layouts/leftcolumn' %>
      </div>
    <% end %>
  </div>
  <div class="col-lg-9" id="all_containers">
    <%= render 'users/layouts/rightcolumn' %>
  </div>
<% end %>
