<% @containers.each do |container| %>
  <% if container.starred == true %>
    <div class="starred well col-lg-6 content-well" id="<%= dom_id(container) %>">
      <table class="table">
        <thead>
          <tr>
            <th colspan="4"><%= container.name %>
            <% if on_my_page? %>
              <span>&#9733;</span>
              <!-- trash -->
              <%= link_to '', [@user, container], method: :delete, data: { confirm: 'Are you sure?' }, class:"glyphicon glyphicon-trash container-icon", id:"destroy", remote: true %>
            <% end %>
            <%= render 'containers/all_containers', :container => container %>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
