<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="container">
  <div class="col-lg-8 landing-page">
    <h1 class="brand">Link Sensei</h1>

  </div>
  <div class="col-lg-3">
    <div class="row" id="signup">
      <%= render 'devise/layouts/signup' %>
    </div>
    <div class="row" id="signin">
      <%= render 'devise/layouts/signin' %>
    </div>
  </div>
</div>
