<div class="well" id="my_form" >
<h2>Editing Link</h2>

<%= render 'form' %>

<%= link_to 'Show', [@container, @link] %> |
<%= link_to 'Back', container_links_path %>
<%= link_to 'Destroy', [@container, @link], method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
