<% if alert %>
  <p class="alert alert-warning alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><%= alert %></p>
<% end %>
<div class="well" id="sign_in_form">
<%= render "devise/layouts/signin" %>
</div>
