@import "twitter/bootstrap";

body  {
  background-color: #67001a !important;
}

@font-face {
    font-family: 'sf_wasabiregular';
    src:url('SF_Wasabi-webfont.eot');
    src:url('SF_Wasabi-webfont.eot?#iefix') format('embedded-opentype'),
         url('SF_Wasabi-webfont.woff') format('woff'),
         url('SF_Wasabi-webfont.ttf') format('truetype'),
         url('SF_Wasabi-webfont.svg#sf_wasabiregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



.form-control:focus, .form-control:focus + span .btn{
    border-color:#e8c15f;
    box-shadow: 0px 0px 1px #e8c15f !important;
}

.alert {
  color: black;
}

a  {
  &:hover  {
  background-color: none;
  }
}

.brand  {
  font-family: sf_wasabiregular;
}
