@import "twitter/bootstrap";

body  {
  margin-top: -10px;
}

.popover  {

  position: fixed;
}

@font-face {
    font-family: 'sf_wasabiregular';
    src:url('SF_Wasabi-webfont.eot');
    src:url('SF_Wasabi-webfont.eot?#iefix') format('embedded-opentype'),
         url('SF_Wasabi-webfont.woff') format('woff'),
         url('SF_Wasabi-webfont.ttf') format('truetype'),
         url('SF_Wasabi-webfont.svg#sf_wasabiregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.popover {
  overflow: auto;
}

.alert {
  color: black;
}

.notice  {
  margin-top: 10px;
  margin-left: 10px;
}

a  {
  color: #004e67;
  &:hover  {
  background-color: none;
  }
}

.form-control:focus, .form-control:focus + span .btn{
    border-color:#e8c15f;
    outline: 5px auto #e8c15f;
   outline-offset: -2px;
}

.custombtn  {
  &:focus  {
  outline: 5px auto #e8c15f;
  outline-offset: -2px;
  }
}

#my_form {
  height: 43em;
  width: 40em;
  overflow: auto;
  margin:auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0
}

#new_container_form {
  height: 22em;
  width: 40em;
  overflow: auto;
  margin:auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0
}

#edit_user_form {
  /*display: block;*/
  height: 45em;
  width: 40em;
  overflow: auto;
  margin:auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0
}

#sign_in_form {
  /*display: block;*/
  height: 21em;
  width: 40em;
  overflow: auto;
  margin:auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0
}

#sign_up_form {
  /*display: block;*/
  height: 35em;
  width: 40em;
  overflow: auto;
  margin:auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0
}

table {
  width: 100%;
}

body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom  {
  margin-right: 0px;
}


.pagination {
  background: white;
  cursor: default;
/*  margin-left: 7.5%;*/
  /* self-clearing method: */ }

.pagination a, .pagination span, .pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px; }

.pagination .disabled {
  color: #999999;
  border: 1px solid #dddddd; }

.pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #2e6ab1;
  color: white;
  border: 1px solid #2e6ab1; }

.pagination a {
  text-decoration: none;
  color: #105cb6;
  border: 1px solid #9aafe5; }

.pagination a:hover, .pagination a:focus {
  color: #000033;
  border-color: #000033; }

.pagination .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center; }

.pagination .page_info b {
  color: #000033;
  background: #6aa6ed;
  padding: 0.1em 0.25em; }

.pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

* html .pagination {
  height: 1%; }

*:first-child + html .pagination {
  overflow: hidden; }
