
.navbar-brand  {
   color: white !important;
}

.users-show  {

}

.cont-well  {
  height: 200px !important;
  overflow-y: scroll;
}

.logo {
  float:left;
  list-style: none;
}

.fixed-nav  {
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  background-color: #67001a;
}

.links  {
  list-style: none;
  float: right;
  padding-top: 15px;
}

.links > li  {
  display: inline;

}

.links > li > a {
  display: inline;
    color: white;
    text-shadow: none;
    &:hover {
      background-color: #67001a;
      color: white;
    }
}

#custom-well-left  {
  min-height: 100%;
  padding: 20px;
  margin-bottom: 20px;
  background-color: whitesmoke;
  border: 1px solid #e3e3e3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
}

.info-pop  {
  float:right;
}

.add-staging  {
  float:right;
}

.staging-left tr:nth-child(2n+1){
  background-color: white;
}

