/* Sign In & Sign Up */

.landing-page  {
  background-color: white !important;
  margin-top: -10px;
 background:asset-url("Dojo.jpg", image)  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


   background-attachment:fixed;
    background-position:100% 100%;
}

#signin  {
  margin-top: 3em;
}

.main-description  {
  margin-right: 20px;
}

.form-title  {
  color: white;
  margin-top: 0px;
   text-shadow:
   -2px -2px 0 #67001a,
    2px -2px 0 #67001a,
    -2px 2px 0 #67001a,
     2px 2px 0 #67001a;
  font-family: sf_wasabiregular;
}

.brand  {
  font-family: sf_wasabiregular;
  color: white;
  margin-top: 1em;
 text-shadow:
   -2px -2px 0 #67001a,
    2px -2px 0 #67001a,
    -2px 2px 0 #67001a,
     2px 2px 0 #67001a;
}

.rme-fgotpas {
  font-size: .9em;
  color: white;
  text-shadow:
   -1px -1px 0 #67001a,
    1px -1px 0 #67001a,
    -1px 1px 0 #67001a,
     1px 1px 0 #67001a;
     a {
      color: white;
     }
}

.forgot-pass  {
  margin-left: 5px;
}

/* line break in sign in page */
#welcome-page-hr  {
  margin-top: 10px;
  margin-bottom: 10px;
  border-color:#e0e0e0;
}

#btn-sign-in  {
  margin-top: 5px;
}

#twitter  {
  margin-bottom: 5px;
}

#screenshot {
  width: 400px;
}
