/* Sign In & Sign Up */

.landing-page  {
  height: 100%;
  width: 100%;
  background-color: white !important;
  margin-top: -10px;
   background-image: asset-url("8.jpg", image) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-image: cover;
    background-position:100% 100%;

}


#signin  {
  margin-top: 3em;
}

.main-description  {
  margin-top: 2.7em;
  margin-right: 20px;
}

.form-title  {
  color: white;
  margin-top: 0px;
  font-family: 'Lato', sans-serif;
}

.brand  {
  font-family: 'Lato', sans-serif;
  color: white;
  margin-top: 0px;
}

.rme-fgotpas {
  font-size: .9em;
  color: white;
}

.forgot-pass  {
  margin-left: 5px;
}

/* line break in sign in page */
#welcome-page-hr  {
  margin-top: 10px;
  margin-bottom: 10px;
  border-color:#e0e0e0;
}

#btn-sign-in  {
  margin-top: 5px;
}

#twitter  {
  margin-bottom: 5px;
}

#screenshot {
  width: 400px;
}
