/* Sign In & Sign Up */

.landing-page  {
  background-color: #67001a !important;
  margin-top: -10px;
}

#sign-in  {
  float: right;
}

#sign-up  {
  float: right;
}

.main-description  {
  margin-right: 20px;
}

.form-title  {
  margin-top: 0px;
  color: #292929;
}

.brand  {
  font-family: sf_wasabiregular;
  color: white;
  margin-top: 0px;
}

.form-control:focus, .form-control:focus + span .btn{
    border-color:#e8c15f;
    box-shadow: 0px 0px 1px #e8c15f !important;
}

.rme-fgotpas {
  font-size: .9em;
  color: #292929;
}

.forgot-pass  {
  margin-left: 5px;
}

/* line break in sign in page */
#welcome-page-hr  {
  margin-top: 10px;
  margin-bottom: 10px;
}

#btn-sign-in  {
  margin-top: 5px;
}

#twitter  {
  margin-bottom: 5px;
}
