<!DOCTYPE html>
<html>
  <head>
    <title>LinkSensei</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" type="image/png" href="/assets/icon.png" />
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
  </head>
  <body>
    <%= yield %>
  </body>
</html>
